{% extends 'app_restaurant/base.html' %}

{% block content %}
</br>
<h2>About Us</h2>
<!-- About us section-->
<section>
    <div class="container about-us" id="about-us">
        <div class="row">
            <!-- Image column -->
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dalfrdydu/image/upload/v1691911093/group-photo_ial2gu.jpg"
                    class="figure-img img-fluid rounded" alt="Four people group foto" class="img-fluid">
            </div>
            <!-- Text column -->
            <div class="col-md-6">
                <p class="about-us-p">

                    At Django, we believe that the combination of food, music, and engaging activities creates the
                    perfect recipe for an amazing night. Our focus is on creating enjoyable experiences, ensuring
                    that each visitor has a fantastic time during their visit.


                    Whether you're celebrating something special or simply is seeking a good time, Django is the
                    place to be.
                    <br>
                    Hope to see you soon!
                    <br>
                    <span class="custom-color-gold custom-text">- Django Team</span>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}