{% extends 'app_restaurant/base.html' %}

{% block content %}
<main>
    <!-- Slides section-->
    <section>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dalfrdydu/image/upload/v1691853344/media/events/restaurant-interior-hero_zqif90.jpg"
                        class="d-block w-100 carousel-image img-fluid" alt="Restaurant table and interior">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Welcome to Django!</h1>
                        <p class="carousel-p custom-color-gold">Where Meldodies and Activites Meet Flavors:</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dalfrdydu/image/upload/v1691853454/media/events/food-table-hero_cf8omf.jpg"
                        class="d-block w-100 carousel-image img-fluid" alt="Food set up on a table">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>EAT</h2>
                        <p class="carousel-p custom-color-gold">Healthy, and Soul-Nourishing Vegan Creations.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dalfrdydu/image/upload/v1691853459/media/events/drinks-bar-hero_iirzxe.jpg"
                        class="d-block w-100 carousel-image img-fluid" alt="Alcohol beverages in a bar">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>DRINK</h2>
                        <p class="carousel-p custom-color-gold">Refreshing and Exotic Beverages.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dalfrdydu/image/upload/v1691853862/media/events/girls-laughing_uljz2y.jpg"
                        class="d-block w-100 carousel-image img-fluid" alt="Girls laughing">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>ENJOY</h2>
                        <p class="carousel-p custom-color-gold">Our fun activities</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dalfrdydu/image/upload/v1691854048/media/events/man-guitar-hero_o2i98k.jpg"
                        class="d-block w-100 carousel-image img-fluid" alt="Man playing guitarr">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>LISTEN</h2>
                        <p class="carousel-p custom-color-gold">To our talentful musicians</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- About us section-->
    <section>
        <div class="container about-us" id="about-us">
            <div class="row">
                <h4>About Us</h4>
                <!-- Image column -->
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/dalfrdydu/image/upload/v1691911093/group-photo_ial2gu.jpg" class="figure-img img-fluid rounded"
                        alt="Four people group foto" class="img-fluid">
                </div>
                <!-- Text column -->
                <div class="col-md-6">
                    <p class="about-us-p">

                        At Django, we believe that the combination of food, music, and engaging activities creates the
                        perfect recipe for an amazing night. Our focus is on creating enjoyable experiences, ensuring
                        that each visitor has a fantastic time during their visit.
                        

                        Whether you're celebrating something special or simply is seeking a good time, Django is the
                        place to be.
                        <br>
                        Hope to see you soon!
                        <br>
                        <span class="custom-color-gold custom-text">- Django Team</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

</main>
    
{% endblock %}

