{% extends 'app_restaurant/base.html' %}

{% block content %}

<h1>My Events</h1>

{% if events %}
<div class="card-deck">
    {% for event_data in events %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ event_data.event.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ event_data.event.event_date }}</h6>
            <p class="card-text">You are bringing {{ event_data.reservation.num_friends }} friend(s).</p>
            <a href="{% url 'reservation_form' event_data.event.id %}" class="btn btn-primary">Modify Reservation</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>You have no events.</p>
{% endif %}

{% endblock %}

