{% extends 'app_restaurant/base.html' %}

{% block content %}

</br>
<h2>My Events</h2>
</br>

{% if events %}
{% for event_data in events %}
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">{{ event_data.event.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ event_data.event.event_date }}</h6>
        <p class="card-text">You are bringing {{ event_data.reservation.number_of_friends }} friend(s).</p>
        <form method="post" action="{% url 'cancel_reservation' event_data.reservation.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cancel Reservation</button>
        </form>
        <br />
        <form method="post" action="{% url 'edit_reservation' event_data.reservation.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Edit Reservation</button>
        </form>
        <br />
        <p class="important-note">Important Note: If you choose to edit your reservation, your current reservation
            automatically
            will be canceled. Additionally, please be aware that if you intend to invite more friends than
            your initial booking, there might not be enough available spots to accommodate the change.</p>
    </div>
</div>
{% endfor %}

{% else %}
<p>You have no events.</p>
{% endif %}

{% endblock %}
