{% extends 'app_restaurant/base.html' %}

{% block content %}
<!--Make A Reservartion Page-->

<div class="container">
    <br>
    <br>
    <h2> Make your Reservation here! </h2>

    <div class="container text-center mt-5">

        <!--Reservation card-->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title mb-3">Event: {{ selected_event.name }}</h5>
                <p class="card-text mb-3">Available Spots: {{ selected_event.available_spots }}</p>
                <!--Reservation form-->
                <form method="post" id="reservation-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-lg mb-3" id="submit-button">Submit
                        Reservation</button>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    const form = document.getElementById('reservation-form');
    const submitButton = document.getElementById('submit-button');
    const availableSpots = {{ selected_event.available_spots }} - 1;

    // Disables submit button if restaurant can't accomadate the number of people in the reservation.
    form.addEventListener('input', function () {
        const numberOfFriends = document.getElementById('id_number_of_friends').value;
        submitButton.disabled = numberOfFriends > availableSpots;
    });
</script>

{% endblock %}