{% extends 'app_restaurant/base.html' %}

{% block content %}
</br>
<h2> Events </h2>
<p> We have a talented lineup of musicians, spanning
    various styles, that are here to both entertain and move you.
</p>
<p> We also offer different activities for you to partake in. Each week at Django is different,
    from lively karaoke sessions to spirited rounds of beer pong. Take a look and Join!</p>
</br>
<p class="important-note"> Please keep in mind: If you are not interested in participating in competitions (such as
    beerpong,
    chess etc), we encourage you to come and share the excitement! No need to reserve a spot.
</p>

<div class="row">
    {% for event in event_list %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">Date: <span class="custom-color-gold">{{ event.event_date }}</span></p>
                <p class="card-text">Available Spots: <span class="custom-color-gold">{{ event.available_spots }}</span>
                </p>
                <p class="card-text">{{ event.description }}</p>

                {% if event.image %}
                <img src="{{ event.image.url }}" alt="{{ event.name }}" class="img-fluid">
                {% endif %}

                <br /><br /><br />
                <div class="join-btn">
                    <a href="{% url 'make_reservation' event.id %}" class="btn btn-success">Join The Fun!</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    
{% endblock %}
