@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans:ital,wght@1,500;1,700&family=Zeyada&display=swap');

h1 {
    font-family: 'Caveat', cursive;
    font-size: 80px;
    text-align: center;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 60px;
    text-align: center;
}

h3, h4, h5 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.important-note {
    font-size: 15px;
    color:gray;
}

/* Navbar */
.logo {
    font-family: 'Zeyada', cursive;
    font-size: 60px;
}

.nav-item {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 15px;
}

/*  Custom text pieces */
.custom-color-gold {
    color: rgb(189, 194, 125);
}

.custom-text {
    font-family: 'Zeyada', cursive;
    font-size: 60px;
}

/* Slides section home page */
.carousel-item {
    height: 600px;
    position: relative;
    margin-bottom: 50px;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-p {
    font-family: caveat;
    font-size: 40px;
}

/* About us page */
.about-us-p {
    font-size: 25px;
    font-family: open sans;
    font-weight: 500;
    line-height: 1.5;
}

/* Buttons */
.btn {
    font-size: 24px;
    font-family: caveat;
}

.account-btn {
    font-size: 20px;
    color: black;
    padding: 15px 25px;
}

.join-btn {
    display: flex;
    justify-content: center;
}

/* Menu page */
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
}

.fw-bold {
    font-size: 30px;
}

.rounded-pill {
    font-size: 17px;
}

/* All events page */
.set-height {
    height: 320px;
}

/* Footer */
footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgba(183, 179, 179, 0.09);
    padding: 1em;
}

.footer-p {
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.socialmedia {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 15rem;
    font-size: 30px;
    justify-content: center;
    gap: 20px;
}

.footer-p-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* For bigger screens */
@media (min-width: 765px) {
    .carousel-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    }
    .footer-p {
        margin: 30px;
    }
}

/* For smaller screens */
@media (max-width: 765px) {
    .menu {
        margin: 0;
    }
    .fw-bold {
        font-size: 18px;
    }
    .account-btn {
        padding: 5px;
        align-content: center;
    }
    .carousel-item {
        height: 400px;
    }
    .custom-text{
        font-size: 40px;
    }
    .about-us-p {
        font-size: 20px;
    }
    .set-height {
        height: 300px;
    }
}